/.history/
# LaTeX 中间文件
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml


/_minted-*
/auto


!main.tex
!output.pdf

!.gitignore